body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#login-container {
  margin-top: 100px;
}

#game-container {
  margin-top: 50px;
}

input[type="text"], input[type="password"] {
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
}

p {
  margin-bottom: 5px;
}
